.hide{
    display: none;
}
a{
color: antiquewhite;
font-size: 20px;
/* text-decoration: dashed; */
}
h5,h6{
    border: 5px solid darkblue;
    padding: 5px;
}
table,th,td{
    border: 3px solid red;
    padding: 5px;
    text-align: justify;
}
